<template>
  <div>
    <div style="background-color: inherit" class="bg-white overflow-hidden shadow-xl">
      <lazy-image @load="handleLoadedImage" class="relative">
        <transition name="fade">
          <img class="w-full h-72 object-cover hover:opacity-80 transition-all" :data-url="thumb">
        </transition>
        <template #placeholder>
          <transition name="fade">
            <div class="absolute top-0 left-0 w-full h-72 bg-gray-100 flex">
              <div class="mx-auto my-auto">
                <Loading />
              </div>
            </div>
          </transition>
        </template>
      </lazy-image>
      <h6 class="mb-3 p-4">
        <div class="font-semibold">
          <slot name="title" />
        </div>
        <div>
          <slot name="description" />
        </div>
      </h6>
    </div>
  </div>
</template>

<script>
import LazyImage from './LazyImage.vue'
import Loading from './Loading.vue'

export default {
  name: 'ImcCard',
  components: {
    LazyImage,
    Loading
  },
  props: {
    thumb: {
      type: String,
    },
  },
  methods: {
    handleLoadedImage() {
      this.image = 'loaded'
    }
  }
}
</script>
