<template>
  <div :class="errored && errorClass ? errorClass : elementClass">
    <slot v-show="loaded" />
    <slot v-if="!loaded" name="placeholder" />
  </div>
</template>

<script>
export default {
  name: 'LazyImage',
  props: {
    element: String,
    threshold: {
      type: [Array, Number],
      default: () => {
        return [0, 0.5, 1]
      }
    },
    ratio: {
      type: Number,
      default: 0.4,
      validator(value) {
        return value > 0 && value <= 1
      }
    },
    margin: {
      type: String,
      default: '0px'
    },
    crossorigin: {
      type: String,
      default: null,
      validator(value) {
        return value === 'anonymous' || value === 'use-credentials'
      }
    },
    loadedClass: {
      type: String,
      default: 'loaded'
    },
    loadingClass: {
      type: String,
      default: 'loading'
    },
    errorClass: {
      type: String,
      default: null
    }
  },
  data() {
    return {
      loaded: false,
      observer: null,
      errored: false
    }
  },
  computed: {
    elementClass() {
      return this.loaded ? this.loadedClass : this.loadingClass
    }
  },
  methods: {
    /**
     * Start loading image
     */
    load() {
      this.$emit('loading')

      this.observer.disconnect()

      if (!this.loaded) {
        const img = Array.from(this.$el.children || {}).find(el => el.nodeName === "IMG");

        if (typeof img === undefined) return;

        img.addEventListener('load', () => {
          this.loaded = true
          this.$emit('load')

          clear()
        })

        img.addEventListener('error', (event) => {
          this.errored = true
          this.$emit('error', event)

          clear()
        })

        const clear = () => {
          this.observer = null
        }

        if (this.crossorigin !== null) {
          img.crossOrigin = this.crossorigin
        }

        img.src = img.dataset.url;
      }
    },

    observe() {
      const options = {
        threshold: this.threshold,
        root: this.element ? document.querySelector(this.element) : null,
        rootMargin: this.margin
      }

      this.observer = new IntersectionObserver((entries) => {
        if (entries[0].intersectionRatio >= this.ratio) {
          this.load()
        }
      }, options)

      this.observer.observe(this.$el)
    },

    hasSlot(name) {
      name = name || 'default'
      return !!this.$slots[name]
    },
  },
  mounted() {
    // start observing the element visibility
    this.$nextTick(this.observe)
  },
}
</script>