<template>
  <div id="app" class="h-auto lg:m-auto max-w-screen-2xl">
    <main
      v-if="responses.length > 0"
      id="scroll"
      class="flex flex-wrap"
    >
      <imc-card
        class="sm:w-full md:w-1/2 lg:w-1/3 px-5 py-5"
        v-for="(response, i) in responses" :key="`image${i}`"
        :thumb="response.download_url"
      >
        <template #title>
          {{ response.author }}
        </template>
        <template #description>
          <div class="mt-2 text-gray-600">
            Added by {{ response.author }} in Lorem Picsum
          </div>
          <div class="w-full flex">
            <div class="my-auto flex space-x-1 mr-3">
              <img src="./assets/img/eye.svg" class="w-5 h-5 my-auto" />
              <div class="my-auto">
                {{ generateNumber().view }}
              </div>
            </div>
            <div class="my-auto flex space-x-1">
              <img src="./assets/img/love.svg" class="w-5 h-5 my-auto" />
              <div class="my-auto">
                {{ generateNumber().like }}
              </div>
            </div>
            <a
              :href="response.download_url"
              class="mt-4 ml-auto my-auto"
              target="_blank"
            >
              <imc-button class="transition-all rounded-full border border-gray-800">
                <img src="./assets/img/down.svg" class="w-3 h-3" />
              </imc-button>
            </a>
          </div>
        </template>
      </imc-card>
    </main>
  </div>
</template>

<script>
import axios from 'axios'
import ImcCard from './components/ImcCard.vue'
import ImcButton from './components/ImcButton.vue'

export default {
  name: 'App',
  components: {
    ImcCard,
    ImcButton
  },
  data() {
    return {
      page: 1,
      limit: 12,
      fetching: false,
      responses: [],
    }
  },
  mounted() {
    this.fetchData()
  },
  created() {
    document.addEventListener('scroll', this.listenScroll)
  },
  destroyed() {
    document.removeEventListener('scroll', this.listenScroll)
  },
  methods: {
    listenScroll() {
      const scrollHeight = document.querySelector("#scroll").getBoundingClientRect().bottom
      const clientHeight = document.documentElement.clientHeight
      const scrollPosition = scrollHeight - clientHeight

      if (Math.floor(scrollPosition) > 0 || this.fetching || !!this.response) {
        this.fetching = false
        return
      }

      this.fetchData()
      this.fetching = true
    },
    fetchData() {
      axios.get(`https://picsum.photos/v2/list`, {
        params: {
          page: this.page,
          limit: this.limit,
        }
      }).then(res => {
        this.responses.push(...res.data)
      })
      this.page = this.page + 1
    },
    generateNumber() {
      const number = Math.floor((Math.random() * 2000) + 10)

      return {
        like: number,
        view: number * 6
      }
    },
  }
}
</script>
